.Buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-top:1em;
    justify-content: center;
    gap: 2%;
}

@media(min-width: 800px){
    .Buttons{
        width: 26em;
        height: 60%;
    }
}